<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand">NUMISMA</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><button ng-click="minimizeApp()" class="btn btn-default button-window"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></li>
      <li><button ng-click="maximizeApp()" class="btn btn-default button-window"><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span></button></li>
      <li><button ng-click="quitApp()" class="btn btn-default button-window"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></li>
    </ul>
  </div>
</nav>

<div class="container">

      <div class="row">
         
      
        <section id="sidebar" class="col-sm-3">


          <div class="panel-group">

            <div class="panel panel-default">
              <div ng-click="goToCountriesPage()" class="panel-heading">
                <a class="panel-title">Countries</a>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">Commemorative 2€</h4>
              </div>
              <ul class="list-group years-list">
                <li ng-click="setCurrentYear($index)" ng-repeat="year in years" class="list-group-item">{{ year.year }}<span class="badge" ng-class="{ completed : years_count[$index].count == years_count[$index].max }">{{ years_count[$index].count }}/{{ years_count[$index].max }}</span></li>
              </ul>
            </div>

          </div>


        </section>





        <section id="content" class="col-sm-9">

          <div ng-show="!current_year">
            <div class="waiting-selection">
              <img src="images/blue_coin.png">
              <h3><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>Select a year from the sidebar <br>or visit the countries coins section</h3>
            </div>
          </div>


          <div ng-show="current_year">

            <div class="coins-info">
              <h3>{{ current_year.year }}</h3> 
            </div>

            <div class="coins">

              <p><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>2€ COMMEMORATIVE COINS RELEASED IN {{ current_year.year }}</p>
              <div class="row">
                <div ng-repeat="coin in current_year.coins" class="col-md-4">
                  <div class="thumbnail">
                    <p>{{ coin.country }}</p>
                    <span ng-click="setCurrentCoin_year(current_year, $index)" class="glyphicon glyphicon-info-sign" data-toggle="modal" data-target="#myModal" aria-hidden="true"></span>
                    <img ng-src="{{ coin.image }}">
                    <small>{{ coin.name }}</small>
                    <div class="coin-owned">
                      <span ng-click="toggleCoinOwned(coin); toggleYearCoinOwned($index)" ng-class="{ owned : coin.owned }" class="owned-text label label-info">OWNED</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>  

          </div>


          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">{{ current_coin.name }}</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-6">
                      <img ng-src="{{ current_coin.image }}">
                    </div>
                    <div class="col-md-6">
                      <p><b>Country:</b> {{ current_coin.country }}</p>
                      <p><b>Description:</b> {{ current_coin.description }}</p>
                      <p><b>Issuing volume:</b> {{ current_coin.volume }}</p>
                      <p><b>Issuing date:</b> {{ current_coin.date }}</p>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="coin-owned">
                    <span ng-click="toggleCoinOwned(current_coin)" ng-class="{ owned : current_coin.owned }" class="owned-text label label-info">OWNED</span>
                  </div>
                </div>
              </div>
            </div>
          </div>




        </section>

      </div>


    </div>